.topGreenBar{
    background-color: #7CFC00;
    width: 100%;
    height: 20px;
}
.doctorImage{
    width: 100%;
    height: 400px;
}
.description{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #32CD32;
    width: 50%;
}
.descriptionTitle{
    position: absolute;
    top: 30%;
    left: 10%;
    color: #32CD32;
    font-weight: bold;
    font-size: x-large;
}
.keyFeatures{
    padding-top: 10px;  
    display: flex;
    justify-content: center;
    color: grey;
}
.thumbsupImage{
    width: 50%;
    height: 50%;
}
.cards {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding: 20px;
 }
 .doctorImage2{
    width: 100%;
    height: 300px;
}
.descriptionTitle2{
    position: absolute;
    top: 80%;
    color: #32CD32;
    font-weight: bold;
    font-size: x-large;
}
.doctorDescriptionBlock{
    width: 100%;
    background-color: #32CD32;
    height: 350px;
    padding: 20px;
    display: flex;
}
.doctorDescriptionImage{
   float: left; 
   height: 300px;
   padding-left: 20px;
}
  .doctorName {
    font-size: 30px;
    color: white;
  }
 .doctorDescription{
    font-size: 18px;
    color: white;
 }
 .ourTeamimage{
     height: 300px;
 }
 .ourTeamSocialMediaImages{
     display: inline;
 }

.column {
    float: left;
    width: 25%;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .blogImage{
  width: 200px;
  }

  .aboutUs{
    margin-top: 20px;
    width: 100%;
    background-color:#202020;
    height: 320px;
    color: honeydew;
    padding-left: 30px;
  }
  .column{
      padding: 20px;
  }
  .bottomBlackBar{
     
    background-color:black;
    width: 100%;
    height: 40px;
}
.bottomBarText{
    float: left;
    color: blanchedalmond;
    font-size: 14px;
    padding: 10px;
}
.bottombarImage{
    width: 40px;
    height: 40px;
    float: right;
    padding: 10px;
}
  
 